body {
  background-color: #27282c;
  color: white;
  overflow: hidden;
}

.container {
  margin: auto;
  text-align: center;
  min-height: 90vh;
}
p {
  font-size: 17px;
  margin-top: 15px;
}

a {
  position: relative;
  background: #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 1000;
  padding: 10px 30px;
  transition: 0.5s;
}

a:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

a:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

a .pertama {
  position: relative;
  z-index: 1;
}

a .kedua::before {
  content: "";
  position: absolute;
  left: 80%;
  top: -11px;
  width: 8px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewY(360deg);
  transition: 0.5s;
}

a:hover .kedua::before {
  width: 20px;
  left: 20%;
}

a .kedua::after {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -11px;
  width: 8px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewY(360deg);
  transition: 0.5s;
}

a:hover .kedua::after {
  width: 20px;
  left: 80%;
}

.bungkus {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.inputBox {
  margin: auto;
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inputBox input {
  width: 91%;
  margin: auto;
  padding: 10px;
  border: 1px solid grey;
  background: #27282c;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: grey;
  text-transform: uppercase;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: aquamarine;
  transform: translateX(10px) translateY(-17.5px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #27282c;
  border-left: 1px solid aquamarine;
  border-right: 1px solid aquamarine;
  letter-spacing: 0.2em;
}
.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid Aquamarine;
}
code {
  background: linear-gradient(to right, Aquamarine, white, Aquamarine);
  color: #27282c;
  animation: animate 10s alternate infinite;
  transition: 2s;
  border-radius: 10px;
  padding: 1px 5px;
  font-weight: 400;
  background-size: 100%; /* Tambahkan properti ini */
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 150px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
  padding: 10px;
  background-color: #27282c;
  color: grey;
}
  
@media (min-width: 600px) {
  .footer {
    width: 97%;
  }
}

* {
  font-family: Sans-Serif;
}